<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	
	<% if (locals.usuario != null) {%>
		<%- include('./partials/headerLogueado') %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>

	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>

			<form action="/edit-profile" method="POST">

				<div>
					<label> Foto de perfil:</label>
					<input type="file" class="seleccionadorArchivos" id="imagen" name="foto_perfil" value="<%=datosNuevos.foto_perfil%>">
				</div>

				<div>
					<label> Mail:</label> 
					<input type="email" name="mail" value="<%=datosNuevos.email%>">
				</div>

				<div>
					<label> Usuario:</label>
					 <input type="text" name="usuario" value="<%=datosNuevos.usuario%>">
				</div>

				<div>
					<label> Contraseña:</label> 
					<input type="password" name="contraseña" value="">
				</div>
			</div>
			<% if (locals.errors) { %>
				<p class="errorUsuario"><%= locals.errors.message %></p>
			<% } %>
			<div>
				<div>
					<input class="enviar" type="submit" value="Enviar">
				</div>

		</section>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>